{% extends 'base.html' %}
{% load static %}
{% block title %}new{% endblock %}
{% block link %}{% static 'css/user.css' %}{% endblock %}
{% block content %}
<div class="container">
    <h2>내 정보</h2>
    <span>아이디 : </span>
    <span>{{ user.username }}</span><br>
    {% if user.profile_img %}
        <span>프로필 사진</span>
        <p>
            <img src="{{ user.profile_img.url }}" alt="사진" width="250" height="200"/>
        </p>
    {% endif %}
    <span>대학교 : </span>
    <span>{{ user.university }}</span><br>
</div>
{% endblock %}