{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% block link %}{% endblock%}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- Header 부분 -->
    <div class="header">
        <div id="home">
            <a href="{% url 'home' %}">
                <img src="/static/img/logo.png" width="130">
            </a>
        </div>
        {% if user.is_authenticated %}
        <div id="welcome">
            <h2>{{ user.username }} 님 환영합니다 ! </h2>
        </div>
        <div class="member">
            <a href="{% url 'logout' %}">
                로그아웃
            </a>
            <!-- admin일 경우에만 보일 메뉴 -->
            {% if user.username == 'admin' %}
            <a href="{% url 'create' %}">
                상품 등록하기
            </a>
            {% else %}
            <a href="{% url 'mypage' %}">
                마이페이지
            </a>
            <a href="{% url 'order_list' %}">
                주문 내역
            </a>
            {% endif %}
        </div>
        <!-- 로그인이 필요합니다. -->
        {% else %}
        <div class="non-member">
            <h2>로그인이 필요합니다.</h2>
            <a href="{% url 'login' %}">
                로그인
            </a>
            <a href="{% url 'signup' %}">
                회원가입
            </a>
        </div>
        {% endif %}
    </div>
    <!-- Content 부분 -->
    {% block content %}
    {% endblock %}
</body>
</html>