{% extends 'base.html' %}
{% load static %}
{% block title %}home{% endblock %}
{% block link %}{% static 'css/home.css' %}{% endblock %}
{% block content %}
<div class="container">
    <div class="contents">
        <!-- 상품 리스트 -->
        <div class="products">
            {% for product in products %}
                <a href="{% url 'detail' product.id %}">
                    <div class="product">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="사진" width="250" height="250"/>
                        {% endif %}
                        <span><strong>{{ product.product_name }}</strong></span>
                        <span>{{ product.price }}</span>
                    </div>
                </a>
            {% endfor %}
        </div>

        <div class="page">
            <!-- 이전 페이지가 있다면 -->
            {% if products.has_previous %}
                <a href="?page={{products.previous_page_number}}"> ← </a>
            {% endif %}
            <!-- 다음 페이지가 있다면 -->
            {% if products.has_next %}
                <a href="?page={{products.next_page_number}}"> → </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}